<div class="flex flex-col h-full select-none">
  <!-- desktop -->
  <div class="relative w-full grow *:block *:w-max" id="desktop">

    <div>
      <ng-template #desktopContainer></ng-template>
      <app-window [body]="windowBody" windowTitle="Debug Information" [disableMaximize]="true" left="40rem" top="35rem"/>
      <ng-template #windowBody>
        <div class="p-4 min-w-96">
          <div class="flex justify-between mx-auto max-w-72">
            <p class="font-designer">HyperShell</p>
            <p>Debug Information</p>
          </div>
          <hr class="my-2 border-zinc-200/65">
          <p class="font-mono">App version : development</p>
          <p class="font-mono">Debug build : window placement preview test</p>
        </div>
      </ng-template>
    </div>

    <!-- debug -->
    <div class="absolute bottom-0 right-0 p-16">
      <div class="px-4 py-2 text-lg text-white bg-black backdrop-blur">
        <p class="font-designer">HyperShell</p>
        <p class="font-mono text-xs">prototype build 0.0.0</p>
      </div>
    </div>

    <div class="absolute top-0 left-0 p-16">
      <div class="px-4 py-2 text-lg text-white bg-black backdrop-blur">
        <p class="font-designer">HyperShell</p>
        <p class="font-mono text-xs">SHELL::getZIndex()->{{ shell.getZIndex() }}</p>
        <p class="font-mono text-xs">SHELL::availableApps->{{ shell.availableApps | json }}</p>
        <p class="font-mono text-xs">SHELL::getAppsList->{{ shell.getAppsList() }}</p>
      </div>
    </div>
  </div>

  <app-taskbar/>
</div>
